
.image_heading>.content{
    width: 50%;
    display: inline-block;
}
.content{
    margin-top: 20px;
}
.image_heading>.content>p{
font-size: 13px;

}
.image_heading>.content_number{
    width: 50%;
    display: inline-block;
}
.image_heading>.content_number>h6{
    margin-bottom: 16px;
    margin-left: 12px;
}

 /*   right custom css*/
